@charset "UTF-8";
.button {
  border: none;
  background-color: inherit;
  font-family: inherit;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  justify-content: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}

.btn--secondary {
  background-color: rgba(4, 104, 255, 0.1);
  height: 42px;
  color: #0468FF;
}

.btn--main {
  background-color: #0468FF;
  height: 42px;
  color: #FFF;
}

.btn--white {
  background-color: #FFF;
  height: 42px;
  color: #0468FF;
  border: 1px solid #0468FF;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-auto-flow: column;
  gap: 6px;
}

.btn--more {
  border: 1px solid rgba(4, 104, 255, 0.1);
  padding: 0 8px;
  font-size: 12px;
}

.btnLink {
  color: #0468FF;
  font-weight: 400;
  cursor: pointer;
}

.title {
  font-weight: 700;
}

.gray-title {
  color: #A1A7B3;
  font-size: 14px;
}

.exemption-title {
  color: #FF7E00;
}

.exemption-title-bg {
  color: #FF7E00;
  background-color: rgba(255, 126, 0, 0.1);
  padding: 0 8px;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  letter-spacing: 0;
  word-spacing: -0.2em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  box-sizing: border-box;
  width: 375px;
  margin: 0 auto;
  padding: 16px;
  border: 0.1px solid #000;
  border-radius: 4px;
}

.hr {
  background-color: #E6E6E6;
  border: none;
  height: 1px;
  margin-left: -16px;
  margin-right: -16px;
}

.header {
  height: 50px;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.header__burgerMenu button {
  background-color: #fff;
  border: none;
}

.header__likeBtn {
  border: none;
  fill: none;
  stroke-opacity: 0.4;
}

.header__likeBtn--active {
  fill: #e94c3d;
  stroke-opacity: 0;
  transform: scale(1.2, 1.2);
}

.suggestions {
  line-height: 3;
}

.suggestions__radio {
  min-width: 79px;
  padding: 0px 45px;
  margin: 0 -3px;
}

.suggestions__radio--right.suggestions__radio--right {
  border-radius: 0 4px 4px 0;
}

.suggestions__radio--left.suggestions__radio--left {
  border-radius: 4px 0 0 4px;
}

.filters {
  display: grid;
  row-gap: 16px;
  padding-top: 16px;
}

.type__radio-wrapper {
  position: relative;
  height: 42px;
}

.type__radio-wrapper--absolut {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  position: absolute;
  right: -28px;
  transition: all 0.1s ease;
}

.type__radio {
  min-width: 50px;
  padding: 0px 14px 0 14px;
}

.input__number {
  min-height: 40px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  -moz-appearance: textfield;
  padding-left: 12px;
}

.input__number::-webkit-inner-spin-button, .input__number::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input__number__valChr {
  position: absolute;
  right: 9px;
  bottom: 16px;
}

.propertyValueAndPayment {
  position: relative;
  display: grid;
  grid-row-gap: 12px;
}

.banksSelect {
  height: 74px;
  position: relative;
}
.banksSelect .banksSelect__list__svg {
  position: absolute;
}
.banksSelect .banksSelect__list__svg:nth-child(1) {
  left: 0px;
  top: 25px;
}
.banksSelect .banksSelect__list__svg:nth-child(2) {
  left: 25px;
  top: 25px;
}
.banksSelect .banksSelect__list__svg:nth-child(3) {
  left: 50px;
  top: 25px;
}
.banksSelect .banksSelect__btnLink {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.checkboxesPart {
  display: grid;
  gap: 5px;
}
.checkboxesPart .checkB {
  display: grid;
  min-height: 60px;
  align-items: center;
}

.btnLink__checkbox {
  width: 100px;
  position: relative;
  bottom: 11px;
  right: 6px;
}

.propertyValueAndPayment {
  position: relative;
  display: grid;
  grid-row-gap: 12px;
}

.radiobutton__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.radiobutton__input:checked + .radiobutton {
  background-color: #F1F2F4;
  border: 1px solid #152242;
}

.radiobutton {
  display: inline-grid;
  grid-auto-flow: column;
  -moz-column-gap: 4px;
       column-gap: 4px;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 40px;
  line-height: 4;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  cursor: pointer;
}

.checkB {
  position: relative;
}

.checkB__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkB__input:checked + .checkB__box {
  background-color: #0468FF;
}
.checkB__input:checked + .checkB__box::after {
  transform: translateX(18px);
}

.checkB__box {
  position: absolute;
  right: 0px;
  bottom: 11px;
  background-color: #E6E6E6;
  width: 50px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}
.checkB__box::after {
  content: "";
  position: absolute;
  right: 19px;
  bottom: 1px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #FFF;
  transition: 0.2s;
}

.footerBtns {
  display: grid;
  grid-template-areas: "A A B B B B";
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.footerBtns .btn--secondary {
  grid-area: A;
}
.footerBtns .btn--main {
  grid-area: B;
}

.container {
  display: grid;
  gap: 16px;
  padding-top: 0;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  justify-content: space-between;
  box-shadow: 0px 10px 10px -12px rgba(0, 0, 0, 0.5);
  padding: 5px 0;
}

.breadCrums__infoFromInput {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-items: start;
  align-content: center;
}

.breadCrums__infoFromInput__radio {
  display: grid;
  grid-auto-flow: column;
  align-items: baseline;
  justify-items: start;
  align-content: center;
}

.breadCrums__infoFromInput__radio__firstStep {
  font-size: 12px;
}

.breadCrums__infoFromInput__radio__secStep {
  font-size: 12px;
}
.breadCrums__infoFromInput__radio__secStep::before {
  content: "•";
  position: relative;
  top: 4px;
  font-size: 22px;
}

.breadCrums__infoFromInput__number {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: start;
  align-content: center;
}

.header__filterBtn {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 6px;
  align-items: center;
  justify-content: right;
  font-size: 16px;
}

.header__filterBtn__title {
  display: inline-block;
}

.bestSuggestions {
  position: relative;
  border: 1px solid #FFDCC8;
  padding: 0 50px;
}
.bestSuggestions .bestSuggestions__svg {
  position: absolute;
  top: 15px;
  left: 15px;
}
.containerSuggestionCards {
  display: grid;
  gap: 20px;
}

.containerSuggestionCards__header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.containerSuggestionCards__main {
  display: grid;
  grid-auto-flow: row;
  gap: 16px;
}

.containerSuggestionCards__main__currSug {
  display: grid;
  gap: 30px;
  grid-auto-flow: row;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  padding: 15px;
}

.containerSuggestionCards__main__currSug__info {
  display: inline-grid;
  grid-auto-flow: row;
  gap: 12px;
}

.containerSuggestionCards__main__currSug__info__banckInfoWrapp {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.containerSuggestionCards__main__currSug__info__banckInfoWrapp__bankName-breadCrums {
  display: grid;
  grid-auto-flow: row;
  justify-items: start;
}

.containerSuggestionCards__main__currSug__info__exeptions-more {
  display: inline-grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 6px;
}

.containerSuggestionCards__main__currSug__info__stake-lim-contribution {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
}

.containerSuggestionCards__main__currSug__impotntInfo {
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  align-items: start;
}

.containerSuggestionCards__main__currSug__btns {
  display: grid;
  gap: 10px;
}

.suggestionCards__footer {
  display: grid;
  gap: 45px;
  margin: 50px 0;
}

.suggestionCards__footer__buttons {
  display: grid;
  gap: 25px;
}

.suggestionCards__footer__subscribe {
  background-color: #F1F2F4;
  min-height: 80px;
  padding: 16px;
  line-height: 40px;
}

.suggestionCards__footer__subscribe__subTitle {
  color: #737A8E;
  font-size: 15px;
}

.suggestionCards__footer__subscribe__checkB__box {
  top: 0;
}

* {
  border-radius: 4px;
}

.container {
  box-sizing: border-box;
}/*# sourceMappingURL=style2.css.map */