.button
    border: none
    background-color: inherit
    font-family: inherit
    border-radius: 4px
.btn_secondary
        background-color: $mainBack-color
        height: $main-height-size-bitton
        color: $main-color
.btn_main
    background-color: $main-color
    height: $main-height-size-bitton
    color: $White-color
.btnLink
    color: $links-color