.button
    border: none
    background-color: inherit
    font-family: inherit
    border-radius: 4px
    font-weight: 700
.btn--secondary
        background-color: $mainBack-color
        height: $main-height-size-bitton
        color: $main-color
.btn--main
    background-color: $main-color
    height: $main-height-size-bitton
    color: $White-color
.btnLink
    color: $links-color
    font-weight: 400