.checkB
    position: relative
.checkB__subTitle
.checkB__input
    position: absolute
    appearance: none
    &:checked + .checkB__box
        background-color: $main-color
        &::after
            transform: translateX(18px)       
.checkB__box
    position: absolute
    right: 0px
    bottom: 16px
    background-color: $border-hr-color
    width: 50px
    height: 32px
    border-radius: 16px
    cursor: pointer
    &::after
        content: ''
        position: absolute
        right: 19px
        bottom: 1px
        width: 30px
        height: 30px
        border-radius: 15px
        background: $White-color
        transition: .2s