.container
    .header
        height: 50px
        display: grid
        grid-template-columns: min-content 1fr min-content
        align-items: center
        column-gap: 20px
        &__burgerMenu
            button
                background-color: #fff
                border: none
        .header__logo
        &__favoriteBtn
            // grid-area: C
            .like
                background-color: #fff
                border: none
            &_active
                .like
                    background-color: #EE3524