//Colors
$White-color: #FFF
$Grey-color: #A1A7B3
$dark-Grey-color: #737A8E
$main-color: #0468FF
$radio-active-color: #F1F2F4
$mainBack-color: rgba(4, 104, 255, 0.1)
$secondary-color: #FF7E00
$secondaryBack-color: rgba(58, 197, 0, 0.1)
$links-color: #0468FF
$border-hr-color: #E6E6E6
$border-active-color: #152242
$exemption-bg-color: rgba(255, 126, 0, 0.1)
$exemption-color: #FF7E00

//Sizes
$main-height-size-bitton: 42px

