@import 'variables'

.page
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Fira Sans Extra Condensed', sans-serif
.hide
    display: none
.show
    display: block
.container
    width: 375px
    margin: 0 auto
    padding: 16px
    border: 0.1px solid #000
.button
    border: none
    background-color: inherit
    font-family: inherit
    border-radius: 4px
.btn_secondary
        background-color: $mainBack-color
        height: $main-height-size-bitton
        color: $main-color
.btn_main
    background-color: $main-color
    height: $main-height-size-bitton
    color: $White-color
.btnLink
    color: $links-color
    
.hr
    background-color: $border-hr-color
    border: none
    height: 1px
    margin-left: -16px
    margin-right: -16px
    
@import 'header'




@import 'footerBtns'