.button {
  border: none;
  background-color: inherit;
  font-family: inherit;
  border-radius: 4px;
}

.btn_secondary {
  background-color: rgba(4, 104, 255, 0.1);
  height: 42px;
  color: #0468FF;
}

.btn_main {
  background-color: #0468FF;
  height: 42px;
  color: #FFF;
}

.btnLink {
  color: #0468FF;
}

.page {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  width: 375px;
  margin: 0 auto;
  padding: 16px;
  border: 0.1px solid #000;
}

.hr {
  background-color: #E6E6E6;
  border: none;
  height: 1px;
  margin-left: -16px;
  margin-right: -16px;
}

.container .header {
  height: 50px;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.container .header__burgerMenu button {
  background-color: #fff;
  border: none;
}
.container .header__favoriteBtn .like {
  background-color: #fff;
  border: none;
}
.container .header__favoriteBtn_active .like {
  background-color: #EE3524;
}

.filters {
  display: grid;
  row-gap: 16px;
}

.banksSelect {
  height: 74px;
  position: relative;
}
.banksSelect .banksSelect__list__svg {
  position: absolute;
}
.banksSelect .banksSelect__list__svg:nth-child(1) {
  left: 0px;
  top: 25px;
}
.banksSelect .banksSelect__list__svg:nth-child(2) {
  left: 25px;
  top: 25px;
}
.banksSelect .banksSelect__list__svg:nth-child(3) {
  left: 50px;
  top: 25px;
}
.banksSelect .banksSelect__btnLink {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.checkboxesPart {
  display: grid;
  gap: 5px;
}
.checkboxesPart .checkB {
  display: grid;
  min-height: 60px;
  align-items: center;
}

.radiobutton__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.radiobutton__input:checked + .radiobutton {
  background-color: #F1F2F4;
  border: 1px solid #152242;
}

.radiobutton {
  display: inline-grid;
  grid-auto-flow: column;
  -moz-column-gap: 4px;
       column-gap: 4px;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-width: 50px;
  height: 40px;
  line-height: 4;
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.checkB {
  position: relative;
}
.checkB__subTitle {
  font-weight: 300;
}
.checkB__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.checkB__input:checked + .checkB__box {
  background-color: #0468FF;
}
.checkB__input:checked + .checkB__box::after {
  transform: translateX(18px);
}
.checkB__box {
  position: absolute;
  right: 0px;
  bottom: 16px;
  background-color: #E6E6E6;
  width: 50px;
  height: 32px;
  border-radius: 16px;
}
.checkB__box::after {
  content: "";
  position: absolute;
  right: 19px;
  bottom: 1px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #FFF;
  transition: 0.2s;
}

.footerBtns {
  display: grid;
  grid-template-areas: "A A B B B B";
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.footerBtns .btn_secondary {
  grid-area: A;
}
.footerBtns .btn_main {
  grid-area: B;
}/*# sourceMappingURL=style.css.map */